.IMG2 {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:fill;
}

.D11 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.CoverDiv {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-color: #0A0D36;
}

.D12 {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 3rem;
    align-items: center;
}

.H11 {
    color: white;
    font-size: 4rem;
}

.P11 {
    color: white;
    font-size: 2.4rem;
    backdrop-filter: blur(10px);
    font-weight: 500;
}

.B11 {
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    font-size: 1.2rem;
    padding: .7rem 2.5rem .7rem 2.5rem;
    background-color: #D16AE1;
    border: none;
    border-radius: 2.5rem;
    font-weight: 600;
    color: #000;
    transition: transform .2s ease-in-out
}
.B11:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.B111 {
    position: absolute;
    left: 1.5rem;
    bottom: 1.5rem;
    font-size: 1.2rem;
    padding: .7rem 2.5rem .7rem 2.5rem;
    background-color: #D16AE1;
    border: none;
    border-radius: 2.5rem;
    font-weight: 600;
    color: #000;
    transition: transform .2s ease-in-out
}
.B111:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.IMG3 {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.D14 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.D13 {
    display: flex;
    flex-direction: column;
    max-width: 65%;
    min-width: 50%;
    background-color: rgb(66, 66, 66, .75);
    border-radius: 20px;
    padding: 2rem 1rem 2rem 1rem ;
    color: #fff;
    backdrop-filter: blur(10px);
    align-items: center;
    margin-top: auto;
    margin-bottom: 3rem;
    position: relative;
}

.H12 {
    font-size: 2.5rem;
    max-width: 70%;
    text-align: center;
}

.P15 {
    font-size: 1.3vw;
    max-width: 80%;
    color: #fcfcfc;
    text-align: center;
}

.P12 {
    font-size: 40px;
    width: 80%;
    left: 10%;
}

.D15 {
    background-color: #424242;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.D16 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

}

.D161 {
    display: flex;
    width:50%;
    justify-content: space-around;
    margin-top: 3rem;
}

.D162 {
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin-top: 3rem;
    
}

.B12 {
   
    width: 20rem;
    height: 11rem;
    font-size: 2vw;
    border-radius: 20px;
    border: none;
    font-weight: 600;
    white-space: pre-line;
    
}

.H12 {
    margin-top: 1rem;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: underline;
}

.IMG4 {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
}

.IMG41 {
    width: 3rem;
}

.D17 {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}
.D171 {
    width: 100%;
    height: 110vh;
}

.D18 {
    margin-top: 3rem;
    margin-bottom: 3rem;
   background-color: #fff;
   padding: 0rem 5rem 0rem 5rem;
   border-radius: 30px;
}

.IMG5 {
    object-fit: cover;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.D19 {
    width: 70%;
    height: 65%;
    background-color: rgb(30, 30, 30, .7);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;

    padding: 20px;
}

.IMG7 {
    max-width: 30rem;
}

.IMG6 {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3rem;
}

.P13 {
    font-size: 2.5rem;
    font-weight: 600;
}

.P14 {
    color: #fff;
    width: 50%;
    font-size: 1.2rem;
    white-space: pre-line;
}

.D23 {
    display: flex;
    flex-direction: column;
    max-width: 65%;
    height: 65%;
    background-color: rgb(66, 66, 66, .75);
    border: 1rem black solid;
    border-radius: 20px;
    padding: 4rem;
    color: #fff;
    backdrop-filter: blur(10px);
    align-items: center;
}

.D21 {
    display: flex;
    width: 80%;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1rem solid black;
    flex-direction: column;
}

.D25 {
    background-color: #424242;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.In1 {
    width: 300px;
    margin-left: 1rem;
    font-size: 2.5rem;
}



.AD1 {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
}

.AD2 {
    background-color: rgba(94, 221, 94, 0.95);
    padding: 1rem 5rem 1rem 5rem;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AD21 {
    background-color: rgba(238, 52, 52, 0.95);
    padding: 1rem 5rem 1rem 5rem;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AP1 {
    font-size: 2.5vw;
    font-weight: 700;
}

.AB1 {
    width: 20rem;
    font-size: 1.7vw;
    padding: 1.5rem 1rem 1.5rem 1rem;
    border: none;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 1rem;
    font-weight: 500;
    transition: transform .2s ease-in-out;
}

.AB1:hover {
    transform: scale(1.1);
    cursor: pointer;
}