.D1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.D2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.D3 {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 10%;
    justify-content: center;
}

.I1 {
    margin-bottom: 1rem;
}

.IMG1 {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.B1 {
    margin-bottom: 1.5rem;
    border-radius: 10px;
    padding: 1rem;
    border: solid 1px rgb(255, 255, 255, .1);
    background-color: rgb(255, 255, 255, .06);
    color: #fff;
    backdrop-filter: blur(10px);
    transition: transform .2s ease-in-out;
}

.B1:hover {
    transform: scale(1.04);
    border: solid .1px rgb(255, 255, 255, .5);
    cursor: pointer;
}

.P1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.B2 {
    position: absolute;
    background-color: transparent;
    border: none;
    bottom: 1rem;
    right: 1rem;
    transform: scale(.9);
}